body {
    height: 100vh;
    margin: 50px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

img {
    height: 350px;
    width: 350px;
}

.slide {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#previous,#next{
    font-size: 20px;
    padding: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
}

.buttons>button {
    font-size: 20px;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
}

#start {
    background-color: green;
    color: white;
}

#stop {
    background-color: red;
    color: white;
}

#resume {
    background-color: rgb(147, 147, 5);
    color: white;
}